[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pandas = "*"
sklearn = "*"
databases = {extras = ["sqlite"], version = "*"}
sqlalchemy = "*"
crayons = "*"
funguauniverse = "*"

[dev-packages]

[requires]
python_version = "3.6"
